@import "tailwindcss";
@import "@fontsource/iosevka";

@theme {
    --color-*: initial;

    /* good ol' gruvbox */
    --color-background: #282828;
    --color-background1: #3c3836;
    --color-foreground: #ebdbb2;
    --color-foreground0: #fbf1c7;
    --color-foreground2: #d5c4a1;
    --color-foreground4: #a89984;
    --color-red: #fb4934;
    --color-green: #b8bb26;
    --color-yellow: #fabd2f;
    --color-orange: #fe8019;
    --color-blue: #83a598;
    --color-purple: #d3869b;
    --color-aqua: #8ec07c;
}

html,
body {
    @apply bg-background;
    font-family: "Iosevka", monospace;
}
